<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {{ 'active' if request.endpoint == 'config' and not request.args.get('section') }}" href="/config">
                    <i class="bi bi-wallet me-2"></i>
                    钱包配置
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ 'active' if request.endpoint == 'wallet_records' }}" href="/wallet_records">
                    <i class="bi bi-clock-history me-2"></i>
                    钱包记录
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ 'active' if request.args.get('section') == 'password' }}" href="/config?section=password">
                    <i class="bi bi-shield-lock me-2"></i>
                    密码设置
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">
                    <i class="bi bi-headset me-2"></i>
                    联系我们
                </a>
            </li>
        </ul>
    </div>
</nav> 